table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

/* @TODO: make line-through work correctly */
.cross {
    text-decoration: line-through;
}